/* inizio header */

header{
    background-color:cornflowerblue;
    height: 100px;
}

.pattern{
    background-image: url("../img/pattern.png");
    height: 100px;
    background-repeat: repeat-x;
}

/* fine header */





/* inizio main */

main{
    width: 1200px;
    margin: auto;
    height: 300px;
}



h1{
    font-size: 60px;
}

.spangrigio{
    color: grey;
}

.spanblu{
    color:blue;
}

.size {
    font-size: 25px;
}


.sfondogiallo{
    background-color: yellow;
}

.posizione-ul{
    position: relative;
    right: 20px;
}


.th-primi-2{
    background-color:royalblue;
    width: 150px;
    color: white;
}

.ultimo-th{
    background-color:royalblue;
    width: 150px;
    color: white;
}

.td1{
    background-color: powderblue;
}

.td3{
    background-color: powderblue;
}


/* fine main */